<template>
  <div>
    <slot />

    <div class="p-4 bg-gray-50 text-gray-900 rounded-xl">
      <div class="flex flex-col items-center pb-4">
        <img
          class="max-w-sm"
          src="/images/post_poly_color_text_transparent_horizontal_1920x500.png"
        />
        <h2>2021-2022</h2>
      </div>
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 py-4">
        <portfolio-item :header="'Description'" :headerStyling="'bg-pink-500'" :buttonText="'Open Project'" :href="'https://app.postpoly.com'">
          <div class="flex flex-col gap-y-4">
            <p>
              Post Poly is a real time web based 3D renderer, it allows web
              designers to customize and render 3D Models in seconds.
            </p>
            <p>Everything is completely designed and build by myself.</p>
          </div>
        </portfolio-item>
        <portfolio-item :header="'Technology'" :headerStyling="'bg-yellow-500'">
          <ul class="list-disc">
            <li>VueJS</li>
            <li>ThreeJS</li>
            <li>TailwindCSS</li>
            <li>NodeJS</li>
            <li>PostgresSQL</li>
          </ul>
        </portfolio-item>
      </div>
      <video
        class="rounded-lg shadow"
        controls=""
        autoplay
        muted
        playsinline=""
        loop
        src="/videos/post_poly_timelapse_002_1280x720.mp4"
        width="1280"
        height="720"
      ></video>
    </div>
    <h1 class="font-extralight text-7xl pt-32 pb-10">More more moreeee</h1>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 pt-4">
      <portfolio-item
        header="PWA Angular and Ionic"
        headerStyling="bg-red-400"
        subHeader="2022"
        buttonText="View on Gitlab"
        href="https://gitlab.com/frankhartman/angular-ionic"
      >
        Demo project to demonstrate Angular 12 in combination with Ionic
        6.</portfolio-item
      >
      <portfolio-item
        header="Portfolio website"
        headerStyling="bg-green-400"
        subHeader="2022"
        buttonText="View on Gitlab"
        href="https://gitlab.com/frankhartman/portfolio"
        >The source code of this website with all its effects and transitions.
        Made with Vue 3 and TailwindCSS
      </portfolio-item>
      <portfolio-item
        header="Figma plugin"
        headerStyling="bg-purple-400"
        subHeader="2021"
        buttonText="View on Figma"
        href="https://www.figma.com/community/plugin/1052891416702216865/Post-Poly---Customizable-3D-Models"
        >Full integration of Post Poly in the popular design tool Figma. User
        can use Post Poly without having to leave their favorite tool.
      </portfolio-item>
      <portfolio-item
        header="Product Owner CytoSMART website"
        headerStyling="bg-blue-400"
        subHeader="2019-2021"
        buttonText="View website"
        href="https://www.cytosmart.com/"
      >
        Designed, tested and analyzed website elements to fit the needs of our
        visitors. Managed the product backlog and worked on optimizing
        conversion rates.</portfolio-item
      >
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import PortfolioItem from "../portfolio/PortfolioItem.vue";
export default defineComponent({
  components: {
    PortfolioItem,
  },
});
</script>

<style>
</style>