<template>
  <div class="text-gray-900">
    <div :class="'flex flex-col py-6 px-8 border-b text-left rounded-t-2xl ' + headerStyling + ' bg-gray-100'">
      <h3 class="text-xl font-bold">{{ header }}</h3>
      <h4>{{ subHeader }}</h4>
    </div>
    <div class="px-8 py-4 flex flex-col gap-y-10 bg-gray-50 rounded-b-2xl text-justify border-l border-r border-b">
        <slot />  
      <base-button @click="open(href)" :class="headerStyling + ' border'" v-if="buttonText && href">
        {{ buttonText }}
      </base-button>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import BaseButton from "@/components/styling/BaseButton.vue";
export default defineComponent({
  components: {
    BaseButton,
  },
  props: {
    header: {
      default: "Header",
    },
    headerStyling: {
      default: ""
    },
    subHeader: {
      default: "",
    },
    description: {
      default: "",
    },
    buttonText: {
      default: "",
    },
    href: {
      default: "",
    },
  },
  methods: {
    open(url: string) {
      window.open(url);
    },
  },
});
</script>

<style>
</style>