<template>
  <div class="">
    <interactive-hero>
      <div
        class="
          flex flex-col
          h-full
          px-2
          sm:px-40
          justify-center
          text-left
          p-4
          text-gray-50
        "
      >
        <div
          class="flex flex-col md:flex-row gap-x-1 md:align-top mx-auto md:mx-0"
        >
          <div
            class="
              flex
              md:flex-col
              font-normal
              lg:font-bold
              text-right
              items-end
              gap-1
              sm:gap-0
            "
          >
            <h1 class="text-4xl sm:text-4xl">Meet</h1>
            <h1 class="text-3xl sm:text-3xl">your</h1>
            <h1 class="text-2xl sm:text-2xl">next</h1>
          </div>
          <div class="flex flex-col">
            <h2
              class="
                text-5xl
                sm:text-7xl
                lg:text-9xl lg:-mt-2
                flex
                font-bold
                items-end
              "
            >
              Creator
            </h2>
            <h2 class="text-base sm:text-lg ml-2 italic">
              Creative front-end development and design
            </h2>
            <a
              href="#contact"
              class="
                px-6
                py-3
                mt-4
                max-w-sm
                border
                rounded-full
                ease-in-out
                transition-colors
                duration-300
                hover:bg-red-500
                text-center
              "
            >
              Contact me
            </a>
          </div>
        </div>
      </div>
    </interactive-hero>
    <speed-transition class="-mt-10" />
    <fading-element>
      <container>
        <big-text>
          I would like to help you out with
          <rotating-text :typeSpeed="80" :words="skillsList"> </rotating-text
        ></big-text>
      </container>
    </fading-element>

    <container id="portfolio">
      ><portfolio>
        <big-text class="font-bold"> Recent work and experience </big-text>
      </portfolio>
    </container>
    <container>
      <big-text> Always on the lookout for my next adventure </big-text>
    </container>
    <container id="contact">
      <about class="min-h-screen"> </about>
    </container>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import About from "@/components/About.vue";
import BigText from "@/components/styling/BigText.vue";
import Container from "@/components/styling/Container.vue";
import InteractiveHero from "@/components/hero/InteractiveHero.vue";
import Portfolio from "@/components/portfolio/PortfolioGallery.vue";
import RotatingText from "@/components/transition_effects/RotatingText.vue";
import SpeedTransition from "@/components/transition_effects/SpeedTransition.vue";
import FadingElement from "@/components/transition_effects/FadingElement.vue";
import Word from "@/components/transition_effects/word";

export default defineComponent({
  name: "Home",
  components: {
    About,
    BigText,
    Container,
    FadingElement,
    InteractiveHero,
    Portfolio,
    RotatingText,
    SpeedTransition,
  },
  data() {
    return {
      skillsList: [
        {
          text: "VueJS",
          style: "text-green-500 underline",
        },
        {
          text: "Angular",
          style: "text-red-500 underline",
        },
        {
          text: "Web Applications",
          style: "text-purple-500 underline",
        },
        {
          text: "Ionic",
          style: "text-blue-500 underline",
        },
        {
          text: "User Experience Design",
          style:
            "bg-clip-text bg-gradient-to-tr from-green-600 to-yellow-300 text-transparent underline",
        },
      ] as Word[],
    };
  },
});
</script>
