<template>
  <button class="border border-white px-4 py-2 shadow-lg rounded-full hover:bg-red-500 bg-gray-900 bg-opacity-20"><slot /></button>
</template>

<script lang="ts">
import { defineComponent } from "vue";
export default defineComponent({});
</script>